* {
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

:root {
  --background: #008568;
  --primary: #c9c602;
  --black: #000000;
  --monica: #eb0202;
  --luna: #15014a;
  --catalendas: #a6ad1d;
  --blackLighter: #9e9e9efa;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}